.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;

}
