header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
}

.nav ul li {
  display: inline-block;
  margin-left: 40px;
}

ul li:first-child {
  margin-left: 0;
}
ul li a:hover {
  color: var(--color-primary-300);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.hero .content {
  margin-block: 10rem 0;
  text-align: center;
}

.hero .content h1 {
  line-height: 9.6rem;
  margin-bottom: 0.8rem;
  position: relative;
}
.hero .content h1 span::before {
  content: url(/assets/img/Vector\ 3.png);
  position: absolute;
  /* bottom: -2.2rem;
  left: inset; */
  inset: 13rem;
}
.hero .content p {
  line-height: 2.8rem;
  margin-bottom: 3.2rem;
}

.hero .bg-underlay {
  background-image: url(/assets/blob/Vector\ 2.svg);
  background-repeat: no-repeat;
  background-position-x: 12rem;
  text-align: center;
  padding: 2rem 0;
  height: 336.57px;
}

.hero .bg-underlay .card {
  /* text-align: center; */
  display: inline-flex;
  padding: 4rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;

  border-radius: 24px;
  border: 0.5px solid var(--color-primary-400);
  /* background: rgba(254, 254, 254, 0.1); */
  background: rgb(244, 246, 247);
  background: linear-gradient(
    90deg,
    rgba(244, 246, 247, 1) 8%,
    rgba(254, 254, 254, 1) 50%
  );
  backdrop-filter: blur(106px);
}

.hero .bg-underlay .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .bg-underlay p {
  max-width: 60%;
  margin: 0 auto;
  line-height: 2.4rem;
}

.hero .bg-underlay-2 {
  background-image: url(/assets/blob/Group\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 9.3rem;
}

/* product descriprion */
.description .content {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding: 6rem 14rem;
}
.description .content .row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 7.2rem;
}

.description .content-2 {
  display: flex;
  align-items: flex-start;
  gap: 9.6rem;
  padding: 0 16rem;
  margin: 13rem 0;
}

.description .content-2 .row-1 h2 {
  margin-bottom: 1.6rem;
  position: relative;
}

.description .content-2 .row-1 p {
  line-height: 2.8rem;
}

.description .content-2 .row-2 {
  display: grid;
  column-gap: 2.8rem;
  row-gap: 6.4rem;
  grid-template-columns: auto auto;
}
.description .content-2 .row-2 .icon {
  padding: 1.5rem;
  border-radius: 56px;
  margin-bottom: 2rem;
}
.description .content-2 .row-2 p {
  line-height: 2.4rem;
}

/* pricing */
.pricing .content {
  padding: 4.2rem 17.6rem 11.2rem;
}

.pricing .content .row-1 {
  text-align: center;
}

.pricing .content .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 6.8rem;
}

/* .pricing .content .card {
  width: 300px;
} */

.pricing .content .cards .card.active {
  border-radius: 12px;
  transform: scale(1.1);
  z-index: 1;
}

.pricing .content ul {
  margin: 4rem;
}

.pricing .content ul li {
  list-style-type: none;
  width: 100%;
  padding: 1rem 0;
}

/* .pricing ul li:nth-child(-n+3)::before {
  content: '1';
} */
.pricing ul li:not(:nth-child(-n+3))::before {
  content: url(/assets/icons/check-circle.svg);
  padding:1rem 1rem 0 0;
}
.pricing .active ul ::-moz-list-bullet:not(:nth-child(-n+3))::before {
  content: url(/assets/icons/check-circle-white.svg);
  /* padding:1rem 1rem 0 0; */
}

.pricing .content .border {
  border: 0.4px solid var(--color-primary-400);
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.pricing .content .card.active .price {
  color: #fff
}

.pricing .content .btn {
  margin-top: 1rem;
  height: 2.6rem;
  width: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(135deg, rgba(163, 168, 240, 1) 0%, rgba(105, 111, 221, 1) 100%);
  outline: none;
  border: 0;
  font-weight: bold;
  color: #fff;
}

.pricing .content .active-btn {
  background: #fff;
  color: hsl(237, 63%, 64%);
}

.pricing .content .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.pricing .content .card.active .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}


